/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #d81b60;
    --primary-hover: #e91e63;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #FFF;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}


body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}
// h1, h2, strong {
//     color: #333;
// }
// a {
//     color: #e81c4f;
// }

.switch {
    background-image: unset !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    width: 4em;
    height: 2em;
    font-size: 1em;
    border: 4px solid #dedede;
    border-radius: 2em;
    transition: all 0.2s ease;

    &:after {
        position: absolute;
        content: "";
        width: 1.4em;
        height: 1.4em;
        margin: 0.05em;
        border-radius: 50%;
        background-color: #dedede;
        transition: all 0.2s ease;
    }

    &:checked {
        // border: 4px solid #7fc6a6;
    }

    &:checked:after {
        // background-color: #7fc6a6;
        -webkit-transform: translate(2em, 0);
        transform: translate(2em, 0);
    }

}
